/node_modules
/test/env/
/bower.json
/component.json
/coverage/
/lunr.js
/lunr.js.map
/lunr.min.js
/lunr.min.js.map
/lunr.min.mjs
/lunr.min.mjs.map
/lunr.mjs
/lunr.mjs.map
/lunr.d.mts
/.devcontainer/.env
/lib/*.mjs
/lib/*.mjs.map
/lib/*.d.mts
/.cache/
/test/lunr.mjs
/test/lunr.mjs.map
/lunr.cjs
/lunr.cjs.map
/lib/version.json
