/node_modules
/test/env/
/bower.json
/component.json
/coverage/
/lunr.js
/lunr.js.map
/lunr.min.js
/lunr.min.js.map
/lunr.d.ts
/.devcontainer/.env
/lib/*.js
/lib/*.js.map
/lib/*.d.ts
/.cache/
/test/lunr.js
/test/lunr.js.map
/lunr.cjs
/lunr.cjs.map
/lib/version.json
/test/*.d.ts
/test/*.js
/test/*.map
/.devcontainer/bencher/
