services:
    devcontainer:
        build:
            dockerfile: devcontainer.DockerFile
        restart: always
        command: sleep infinity
        volumes:
            - ../../:/workspaces:cached
    docs:
        image: nginxinc/nginx-unprivileged:1.29-alpine
        restart: unless-stopped
        ports:
            - '8001:80'
        volumes:
            - ./docs.conf:/etc/nginx/conf.d/default.conf
            - ../docs/:/app/
