services:
    devcontainer:
        build:
            dockerfile: devcontainer.DockerFile
        restart: always
        command: sleep infinity
        volumes:
            - ../../:/workspaces:cached
    docs:
        env_file:
            - .env
        image: nginxinc/nginx-unprivileged:1.29-alpine
        restart: unless-stopped
        ports:
            - '${PORT_DOCS:-8001}:80'
        volumes:
            - ./docs.conf:/etc/nginx/conf.d/default.conf
            - ../.cache/docs/html/:/app/
    coverage:
        env_file:
            - .env
        image: nginxinc/nginx-unprivileged:1.29-alpine
        restart: unless-stopped
        ports:
            - '${PORT_COVERAGE:-8002}:80'
        volumes:
            - ./coverage.conf:/etc/nginx/conf.d/default.conf
            - ../coverage/:/app/
    tests:
        env_file:
            - .env
        image: nginxinc/nginx-unprivileged:1.29-alpine
        restart: unless-stopped
        ports:
            - '${PORT_TESTS:-8003}:80'
        volumes:
            - ./tests.conf:/etc/nginx/conf.d/default.conf
            - ./tests.mime.types:/etc/nginx/mime.types
            - ../test/:/app/
            - ../node_modules/:/app/node_modules/
